*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.flex-contain{
    display: flex;
}
header{
    background-color: beige;
    height: 70px;
    justify-content: space-around;
    margin-bottom: 5px;
}
.item-header{
    background-color: lightblue;
    height: inherit;
    width: 30%;
}
.item-header>img{
    height:100%;
}
.item-header>i{
    text-align: right;
    height: 100%;
    width: 100%;
    font-size: 70px;
}
main{
    height: calc(100vh - 75px);
    background-color: lightgray;
    overflow: auto;
    padding: 5px;
}
.info{
    width:30%;
    height:100%;
    background-color: aqua;
    padding: 10px 20px;
}
.info>.title{
    text-align: center;
    background-color: lightblue;
}
.desc>textarea{
    height: auto;
    width:100%;
    resize:none;
}
.board{
    width:70%;
    height:100%;
    background-color: beige;
}
.rowes{
    width:100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.card{
    justify-content: flex-end;
    flex-flow: column;
    padding: 5px;
    text-align: center;;
    overflow-y: auto;
    min-width:100px;
    max-width: 300px;
    min-height:100px;
    max-height: 300px;
    background-color: blueviolet;
}
.but{
    min-width: 60px;
    margin:auto;
    width:30%;
}
.buttons{   
    justify-content: space-between;
}
.del-but{
    background-color: red;
}